@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'styles/fonts';
@import 'styles/base';
@import 'styles/components';

/* Colors */
:root {
  /* Primary Color */
  --primary: #28427B;
  --primary-dark: #14213D;
  --primary-light: #7492D2;

  /* Secondary Color */
  --secondary: #2196f3;
  --secondary-dark: #1976d2;
  --secondary-light: #64b5f6;

  /* Accent Color */
  --accent: #FCA311;
  --accent-dark: #df8f0d;
  --accent-light: #ffd54f;

  /* Background Colors */
  --background: #fbfbfb;
  --background-dark: #D0D7DE;
  --background-darker: #d4d9df4d;
  --background-light: #F6F8FA;

  /* Text Colors */
  --text: #212121;
  --text-light: #8f8f8f;
  --text-lighter: #fafafa;
  --text-dark: #000000;

  /* Error Color */
  --error: #ff5722;
  --error-dark: #e64a19;
  --error-light: #ff8a65;
}



